body{
    padding: 0;
    margin: 0;
    background-color: #f0f0f3;
    font-family: 'Work Sans', sans-serif;
}
/* ----------------------------------- */
/* container */
.container {
    width: 400px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: -10px -10px 30px 0 rgba(255, 255, 255, 1),
                10px 10px 30px 0 rgba(174, 174, 192, 0.4);
}
/* header */
.header {
    width: 100%;
    padding: 10px 0;
    height: 150px;
    background-color: #f0f0f3;
    border-bottom: 1px solid #c8c8ca;
    border-radius: 15px 15px 0 0;

    text-align: center;
    text-transform: uppercase;
}
.header h1 {
    color: #ecb0b0;
    font-size: 80px;
    font-weight: 300;
    margin-block-start: 0;
    margin-block-end: 0;
}
.header p {
    color: #d6c1c1;
    font-size: 20px;
}
.body {
    background-color: #f0f0f3; 
    height: 300px;
    max-height: 300px;
    width:100%;
    overflow: auto;
}
.body ul{
    padding:0;
    margin:0;
}
.body::-webkit-scrollbar { 
    display: none; 
}
/* item */
.item {
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 10px auto;

    border-radius: 6px;

    box-shadow: -3px -2px 3px 0 rgba(255, 255, 255, 1),
                5px 5px 7px 0 rgba(174, 174, 192, 0.5);
}
/* icons */
.co,
.del,
.text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 25px;
    color: #969696;
    transition: color 0.2s linear;
}
.co:hover,
.del:hover {
    cursor: pointer;
}
/* check icon */
.co {  
    left: 15px;
}
.co:hover {
    color:#49ec85;
}
/* delete icon */
.del {
    right: 15px;
}
.del:hover,
.clear:hover {
    color: #ff3869;
}
.text {
    padding:0;
    margin:0;
    font-size: 18px;
    max-width: 290px;
    left: 50px;
    color: #474747;
}
.fa-check-circle{
    color:#49ec85;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
/* add new item */
.add-item {
    background-color: #f0f0f3; 
    padding: 10px;
    height: 40px;
    border-top: 1px solid #d8d5d5;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
    
    border-radius: 0 0 15px 15px;
}
.fa-plus {
    font-size: 20px;
    color: #49ec85;
    align-self: center;
}
.add-item input {
    background-color: transparent;
    border: none;
    border-radius: 5px;

    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;

    width: 310px; 
    height: 35px;

    box-shadow: inset -5px -5px 5px 0 rgba(255, 255, 255, 0.7),
                inset 5px 5px 5px 0 rgba(174, 174, 192, 0.4);

}
.add-item input::-webkit-input-placeholder {
    color: #b9cfc1;
    font-size: 20px;
    font-style: italic;
}
.add-item input::-moz-placeholder {
    color: #b9cfc1;
    font-size: 20px;
    font-style: italic;
}
.add-item input:-ms-input-placeholder {
    color: #b9cfc1;
    font-size: 20px;
    font-style: italic;
}
.add-item input:-moz-placeholder {
    color: #b9cfc1;
    font-size: 20px;
    font-style: italic;
}